@{
    ViewBag.Title = "Dịch vụ - Motorbike Memes";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}
<h2></h2>
<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link" href="@Url.Action("Index","SanPhams")">TRANG CHỦ<span class="sr-only">(current)</span></a></li>
                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("About","GioiThieu")">GIỚI THIỆU</a></li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SẢN PHẨM<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a href="#"><img src="~/Content/images/logo.jpg" alt=" " /></a>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="@Url.Action("XeMay","SanPhams")">SẢN PHẨM MEMES</a></li>
                                                <li><a href="@Url.Action("DieuLeBaoHanh","DichVu")">ĐIỀU LỆ BẢO HÀNH</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="@Url.Action("GiaHanBaoHanh","DichVu")">GIA HẠN BẢO HÀNH</a></li>
                                                <li><a href="@Url.Action("ThoiHanBaoHanh","DichVu")">THỜI HẠN BẢO HÀNH</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu__item dropdown">
                                <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">MEMES<b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="@Url.Action("TuyenDung","TuyenDung")">TUYỂN DỤNG</a></li>
                                    <li><a href="@Url.Action("CuaHang","CuaHangs")">CỬA HÀNG ỦY NHIỆM</a></li>
                                </ul>
                            </li>
                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("CongNghe","CongNghe")">CÔNG NGHỆ</a></li>
                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("Contact","LienHe")">LIÊN HỆ</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-top -->
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <img src="~/Content/images/dichvu.jpg" width="1520" height="550" alt=" " />
</div>
<div class="clearfix"></div>
<div class="banner_bottom_agile_info team">
    <div class="container">
        <h3 class="wthree_text_info">GIA HẠN BẢO HÀNH</h3>
        <p style="text-align: justify;">
            <strong>MEMES VIỆT NAM CÔNG BỐ ÁP DỤNG CHẾ ĐỘ BẢO HÀNH 3 NĂM (HOẶC 30.000KM)</strong> <br> <br />
            <font face="verdana" color="black">Với mong muốn mang lại dịch vụ tốt nhất cho khách hàng yêu mến thương hiệu xe Memes, Memes Việt Nam vừa chính thức công bố áp dụng chế độ bảo hành 3 năm (hoặc 30,000km) cho cho tất cả các dòng xe. Đây là chế độ bảo hành đặc biệt lần đầu tiên được áp dụng tại Việt Nam, cũng là lời cam kết từ Memes cho chất lượng sản phẩm và dịch vụ hậu mãi.</font><br />
            <font face="verdana" color="black">
                Cũng chính vì chế độ bảo hành tốt như thế mà rất nhiều khách hàng đã tin tưởng sử dụng bảo hành tại tất cả các trung tâm bảo hành của Memes. Nhằm nâng cao chất lượng phục vụ, nay Memes Việt Nam đưa ra thêm các gói mở rộng bảo hành cho quý khách hàng, với nội dung như sau:<br />
                - Gói bảo hành mở rộng 3 tháng: 300.000 VNĐ (Chế độ bảo hành như Memes Việt Nam công bố).<br />
                - Gói bảo hành mở rộng 6 tháng: 600.000 VNĐ (Chế độ bảo hành như Memes Việt Nam công bố).<br />
                - Gói bảo hành mở rộng 9 tháng: 900.000 VNĐ (Chế độ bảo hành như Memes Việt Nam công bố).<br />
                - Gói bảo hành mở rộng 12 tháng: 1.200.000 VNĐ (Chế độ bảo hành như Memes Việt Nam công bố).<br /><br />
                <strong>Chú ý: Mọi thông tin về gói bảo hành mở rộng, vui lòng liên hệ, hệ thống cửa hàng ủy nhiệm của Memes.</strong>
            </font><br />

        </p>
        <div class="clearfix"></div>
    </div>
</div>
<div class="coupons">
    <div class="coupons-grids text-center">
        <div class="w3layouts_mail_grid">
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>GIAO HÀNG MIỄN PHÍ</h3>
                    <p>Vận chuyển miễn phí tại tất cả các đơn hàng </p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                    <p>Bộ phận chăm sóc khách hàng & giải quyết khiếu nại chuyên nghiệp.</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>BẢO HÀNH - BẢO TRÌ</h3>
                    <p>Dịch vụ bảo hành, bảo dưỡng chuyên nghiệp.</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>HỖ TRỢ BỒI THƯỜNG</h3>
                    <p>Khi xe của quý khách gặp sự cố, sẽ được cửa hàng hỗ trợ tiền bồi thường</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>