<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Motorbikes Memes" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/Content/UserCss/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/UserCss/flexslider.css" rel="stylesheet" />
    <link href="~/Content/UserCss/team.css" rel="stylesheet" />
    <link href="~/Content/UserCss/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/UserCss/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/UserCss/font-awesome.css" rel="stylesheet">
    <link href="~/Content/UserCss/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header" id="home">
        <div class="container">
            @Html.Partial("~/Views/SanPhams/LoginPartial.cshtml")
        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <div class="col-md-4 header-middle">
                <form action="/TimKiem/KetQuaTimKiem" method="post">
                    <input type="search" name="search" placeholder="Nhập từ khóa..." required="">
                    <input type="submit" value=" ">
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 logo_agile">
                <h1><a href="@Url.Action("Index","SanPhams")">MOTORBIKE MEMES<i class="" aria-hidden="true"></i></a></h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 agileits-social top_content">
                <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                    <li class="share">Theo dõi Motorbike Memes:</li>
                    <li>
                        <a href="https://www.facebook.com/tatuan36" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/trinh_anh_tuan_/" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCSHsNlvVJVIy9r8YlchPoGw?view_as=subscriber" class="youtube">
                            <div class="front"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>



            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <div class="col-md-3 footer-left">
                <h2><a href="@Url.Action("Index","SanPhams")">MOTORBIKE MEMES</a></h2>
                <p>Sự thành công của MEMES hôm nay là quá trình phát triển lâu dài và bền vững dựa vào 3 triết lý: Niềm tin cơ bản, Tôn chỉ Công ty và Chính sách quản lý.</p>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                    <li>
                        <a href="https://www.facebook.com/tatuan36" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/trinh_anh_tuan_/" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCSHsNlvVJVIy9r8YlchPoGw?view_as=subscriber" class="youtube">
                            <div class="front"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>SẢN PHẨM</h4>
                        <ul>
                            
                            <li><a href="@Url.Action("XeMay","SanPhams")">SẢN PHẨM MEMES</a></li>
                            <li><a href="@Url.Action("DieuLeBaoHanh","DichVu")">ĐIỀU LỆ BẢO HÀNH</a></li>
                            <li><a href="@Url.Action("GiaHanBaoHanh","DichVu")">GIA HẠN BẢO HÀNH</a></li>
                            <li><a href="@Url.Action("ThoiHanBaoHanh","DichVu")">THỜI HẠN BẢO HÀNH</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 sign-gd-two">
                        <h4>THÔNG TIN CÔNG TY</h4>
                        <div class="w3-address">
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>HOTLINE</h6>
                                    <p>01657466553</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>ĐỊA CHỈ EMAIL</h6>
                                    <p>Email:<a href="mailto:n14dccn086@student.ptithcm.edu.vn">atuan.060596@gmail.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>VỊ TRÍ</h6>
                                    <p>
                                        97 Man Thiện, Phường Tăng Nhơn Phú A, Quận 9, HCM.

                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sign-gd flickr-post">
                        <h4>HÃNG PHÂN PHỐI</h4>
                        <ul>
                            <li><a href="#"><img src="~/Content/images/lk1.png" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk2.png" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk3.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk4.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk5.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk6.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk7.png" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk8.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="#"><img src="~/Content/images/lk9.jpg" alt=" " class="img-responsive" /></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="agile_newsletter_footer">
                <div class="col-sm-6 newsleft">
                    <h3>ĐĂNG KÝ NHÂN THÔNG TIN</h3>
                </div>
                <div class="col-sm-6 newsright">
                    <form action="#" method="post">
                        <input type="email" placeholder="Nhập email của bạn..." name="email" required="">
                        <input type="submit" value="Gửi">
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <p class="copy-right">© 2015. Copyright by Motorbike Memes</p>
        </div>
    </div>
    <!-- //footer -->

    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <!-- js -->
    <script type="text/javascript" src="~/Content/UserJs/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/UserJs/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/Content/UserJs/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!-- script for responsive tabs -->
    <script src="~/Content/UserJs/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- //script for responsive tabs -->
    <!-- stats -->
    <script src="~/Content/UserJs/jquery.waypoints.min.js"></script>
    <script src="~/Content/UserJs/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/UserJs/move-top.js"></script>
    <script type="text/javascript" src="~/Content/UserJs/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/UserJs/bootstrap.js"></script>
</body>
</html>
